body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

#header, #sidebar, #preview {
  position: absolute;
}

#header {
  height: 3em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#sidebar {
  width: 100%;
  left: 0;
  top: 3em;
  bottom: 5em;
  overflow-y: scroll;
}

#positiveprompt, #negativeprompt{
  display: inline;
  margin: 1em;
  height: 2em;
  width: 50%;
  text-align: center;
}

#preview {
  width: 100%;
  right: 0;
  top: 3em;
  height: 82%;
  /* position: absolute; */
}

#image {
  resize: horizontal;
  z-index:2;
  position:fixed;  
}

#image-left{ width:100%}
#image-right{ width:100%}

#header > * {
  height: 2em;
  margin: 0 0.5em;
}

#login, #sidebar-show {
  font-family: ArtifaktElement;
  font-size: 1em;
}

#header .title {
  height: auto;
  margin-right: auto;
}

#viewer-switch{
  left: 17em;
  margin-right: auto;
  margin-top: 0.3em;
  position: absolute;
}

#thumbnails{
  margin: 1em;
}

#tree {
  margin: 0.5em;
}

#itens-container {
  height: 100% !important;
}

@media (max-width: 768px) {
  #sidebar {
      width: 100%;
      top: 3em;
      bottom: 75%;
  }
  #preview {
      width: 100%;
      top: 25%;
      bottom: 0;
  }
}

#image-comparer{
  position: absolute;
  /* left: 25%; */
  top: 3em;
  height: 85%;
  width:100%;
  background-color:#ddd;
}

.thumbnails-dragging{
  width: 100%;
  position: absolute;
  bottom: 1em;
  height: 10%;
}

.icon-hub:before {
  background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
  background-size: cover;
}

.icon-project:before {
  
  background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
  background-size: cover;
}

.icon-my-folder:before {
  background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
  background-size: cover;
}

.icon-item:before {
  background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
  background-size: cover;
}

.icon-version:before {
  background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
  background-size: cover;
}